@font-face 
{
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
    font-family: 'ralewaylight', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
    
h1 
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h2 
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h3 
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}

.afficher_plus 
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    font-size: 18px;
} 
    
li 
{
    list-style-type: none;
}

header 
{
    display:  flex;
    justify-content: space-between;
    margin-left: 50px;
}

#logo 
{
    margin: 50px 25px 10px 0px;
}

header nav ul 
{
    display: flex;
    justify-content: space-around;
}

header nav ul li 
{
    margin-right: 50px;
    padding: 50px 25px 10px 25px;
}

header nav ul li a.actif 
{ 
    color: #0065FC;
    text-decoration: none;
    border-top: #0065FC solid 2px;
    padding-top: 62px;
    padding-right: 25px;
    padding-left: 25px;
}

header nav ul li a.inscription 
{ 
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    color: #0065FC;
    text-decoration: none;
    padding-top: 62px;
    padding-right: 25px;
    padding-left: 25px;
}

a 
{
    color: #000000;
    text-decoration: none;
}
a:visited 
{
    color: #000000;
    text-decoration: none;
}

strong 
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}

form
{
    display: flex;
}

.champ
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 1px solid #f2f2f2;
    padding: 18px;
}

.fas.fa-map-marker-alt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    padding: 18px;
    background-color: #F2F2F2;
}

.bouton_recherche
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border: 1px solid #f2f2f2;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    padding: 18px;
}

.filtres h3
{
    font-size: 15px;
    margin-left: 0px;
    padding-left: 0;
    border: 0px;
}

.filtres
{
    display: flex;
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-right: 30px;
    margin: 20px 0px;
}

.filtre
{
    display: flex;
    align-items: baseline;
    border: 2px solid #f2f2f2;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    height: 50px;
}

.fas.fa-money-bill-wave,  .fas.fa-child, .fas.fa-heart, .fas.fa-dog
{
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    margin-right: 15px;
    font-size: 20px;
    margin-left: -1px;
}

.filtre:hover
{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.description 
{
    margin-left: 50px;
}

.info
{
    display: flex;
    align-items: baseline;
    margin: 20px 0px;
}

.fas.fa-info
{
    text-align: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px solid #d9d9d9;
    color: #0065FC;
    margin-right: 15px;
}

.blue_star
{
    color: #0065FC;
    font-size: 11px;
}

.grey_star
{
    color: #d9d9d9;
    font-size: 11px;
}

.star
{
    margin-top: 25px;
}

#hebergements 
{
    
    display: flex;
    justify-content: space-between;
    margin : 0px 20px 20px 50px;
    padding: 0px 40px 40px 0px;
}

aside 
{
    margin-left: 20px;
    background-color: #F2F2F2;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
}

.section_hebergements 
{
    margin-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.afficher_plus
{
    display: flex;
    align-items: center; 
    height: 40px;
}

.hebergements_box 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergement_bloc img 
{
    width:240px;
    height: 115px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hebergement_bloc 
{ 
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 0 7px #c1c1c1;
}

.hebergement_descrition 
{
    margin: 15px;
    padding: 0px;
    line-height: 10px;
}

.populaire_title
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fas.fa-chart-line
{
    font-size: 1.5rem;
}

.populaire_box 
{
    display: flex;
    flex-direction: column;
}

.populaire_bloc a
{ 
    display: flex;
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    margin: 15px 0;
    width: 21rem;
    box-shadow: 0 0 7px #c1c1c1;
}

.populaire_bloc img 
{
    width: 130px;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 0px 0 20px;
}

.populaire_description
{
    margin: 0px 15px 0 15px;
    padding: 0px;
}

#activites
{
    margin : 20px 20px 20px 50px;
}

.section_activites 
{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    padding-right: 20px;
}

.activite_bloc
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 15px;
}

.vieux_port, .fort_de_pomegues, .iles_du_frioul, .calanques, .notre_dame_de_la_garde ,.parc_longchamp
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 7px #c1c1c1;
}

.vieux_port h3, .fort_de_pomegues h3, .iles_du_frioul h3, .calanques h3, .notre_dame_de_la_garde h3, .parc_longchamp h3
{
    margin-left: 20px;
}

.vieux_port img 
{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
}

.fort_de_pomegues img 
{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
}

.iles_du_frioul img 
{
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
}

.calanques img 
{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
}

.notre_dame_de_la_garde img 
{
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
}

.parc_longchamp img 
{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
}

footer 
{
    display: flex;
    background-color: #F2F2F2;
    padding: 40px 50px 50px;
}

footer ul 
{
    padding: 0;
}

footer li
{
    margin-bottom: 15px;
}

footer div
{
    flex: 1;
} 

@media (min-width: 768px) and (max-width: 1024px)
{
    body 
    {
        font-size: 18px;
        margin: 0;
    }
    
    h1 
    {
        font-size: 22px;
    }

    h2 
    {
        font-size: 22px;
    }

    .champ
    {
        font-size: 19px;
    }

    .fas.fa-map-marker-alt
    {
        font-size: 19px;
    }

    .bouton_recherche
    {
        font-size: 19px;
    }

    .filtres
    {
    display: flex;
    flex-wrap: wrap;
    font-size: 19px;
    }

    .filtres h3
    {
    font-size: 19px;
    }

    .filtre
    {
        margin-bottom: 15px;
        height: auto;
        border-radius: 35px;
    }

    .fas.fa-money-bill-wave,  .fas.fa-child, .fas.fa-heart, .fas.fa-dog
    {
        font-size: 22px;
        padding: 20px;
    }

    .fas.fa-info
    {
        width: 19px;
        height: 19px;
        padding: 9px;
        margin-right: 19px;
    }

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .section_hebergements
    {
        margin:  20px 0;
        background-color: white;
    }

    aside
    {
        margin: 20px 0px;
    }

    .populaire_box
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .populaire_description p
    {
        line-height: 3px;
    }

    .populaire_description
    {
        position: relative;
    }

    .populaire_description .star
    {
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }

    .populaire_bloc img 
    {
        width: 130px;
        height: 195px;
        object-fit: cover;
        border-radius: 20px 0px 0 20px;
    }

    .hebergement_bloc
    {
        width:320px;
        height: 230px;
    }

    .hebergement_bloc img
    {
        width:320px;
        height: 115px;
    }

    .section_activites
    {
        margin: 15px;
    }

    .activite_bloc
    {
        margin: 15px;
    }

    .calanques img 
    {
        width: 500px;
        height: 390px;
    }

    .vieux_port img 
    {
        width: 500px;
        height: 390px;
    }
}
